# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables file
.env

# Virtual environment directory
venv/

# IDE/editor settings
.idea/
.vscode/

# System files
.DS_Store

# Logs
*.log

# Flask instance folder
instance/

# Static and media files
staticfiles/
media/

# Ignore the service account
weche_client_server.json
service_account.json